* {
    background-color: black;
    color: white;
}

header {
    text-align: left;
    padding: 0 20px;
}

header h1 {
    font-family: cursive;
}

div {
    text-align: center;
    /*border: 1px solid gray;*/
    /*background-color: #E8E8E8;*/
}
#container {
    height: 600px;
}

#div-left {
    float: left;
    display: block;
    width: 18%;
}

#div-middle {
    float: left;
    display: block;
    width: 54%;
}

#div-right {
    float: left;
    display: block;
    width: 28%;
}

#div-bottom {
    display: block;
    width: 100%;
    height: 800px;
}

.tag {
    /*margin: 2px 2px;*/
    display: inline-block;
    width: 46%;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 12px;
    /* 文字行高與div高度相同時，文字垂直置中 */
    line-height: 51px;
    height: 51px;
}

.tag a {
    display: block;
    text-decoration: none;
}

.tag:hover {
    /*background-color: #FFA042;*/
    transition: -webkit-filter 1s;
}

circle:hover {
    r: 18px;
    stroke: white;
}

#div-right img {
    height: 460px;
}