* {
    background-color: black;
    color: white;
}

header {
    display: block;
    margin: 20px;
    text-align: center;
}

header h1 {
    /*font-family: cursive;*/
    font-size: 36px;
}

div {
    text-align: center;
    /*border: 1px solid gray;*/
    /*background-color: #E8E8E8;*/
}
#container {
    height: 600px;
}

#div-left {
    float: left;
    display: block;
    width: 20%;
}

#div-middle {
    float: left;
    display: block;
    width: 54%;
}

#div-right {
    float: left;
    display: block;
    width: 26%;
}

#div-bottom {
    display: none;
    margin: 0 auto;
    width: 80%;
    height: 800px;
}

#div-bottom img {
    display: none;
    height: 480px;
}

#div-bottom h1 {
    display: none;
}

#div-bottom p {
    display: none;
}


.tag {
    /*margin: 2px 2px;*/
    display: inline-block;
    width: 32%;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 11px;
    /* 文字行高與div高度相同時，文字垂直置中 */
    line-height: 55px;
    height: 55px;
}

.tag a {
    display: block;
    text-decoration: none;
}
.tag:hover {
    /*background-color: #FFA042;*/
    transition: -webkit-filter 1s;
}
circle:hover {
    r: 18px;
    stroke: white;
}

img {
    border-left: 4px solid black;
}
#div-right img {
    height: 460px;
    transition: -webkit-filter 1s;
    -webkit-filter:brightness(0.6);
}

#div-right img:hover {
    transition: -webkit-filter .5s;
    -webkit-filter:brightness(1);
}